services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sass_pozstar_app
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:./dev.db
    env_file:
      - .env
    volumes:
      - ./prisma:/app/prisma
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: sass_pozstar_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
