services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sass_pozstar
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXTAUTH_URL=http://localhost:3000
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - JWT_SECRET=${JWT_SECRET}
    env_file:
      - .env
